.jumbtron {
    width: 100%;
    background-image: url('../sass/assets/img/jumbotron.jpg');
    height: 40vh;
    background-size: cover;
    position: relative;
}



.series-label {
    height: 4vh;
    font-size: 1.2rem;
    width: 15%;
    position: absolute;
    left: 10%;
    bottom: -2vh;
    background-color: #0281f7;
    color: white;
    padding: 10px;

}
